<%- include('head'); -%>
    
      <!-- Output column-->
      <div class="col-2">
        <ul id="outPosts">         
          <% for(c of jsonArray) { %>
            <li class="listItem"> <div class="ratingDiv"> <strong><%= c.rating %></strong></div>
              <div class="name-email">
              <div class="center-top"> <p><%= c.name %>,</p></div>
               <div class ="right-top">  <p> <%= c.email %></p></div> 
              </div>
              <p class="text"> <%= c.review %></p>
            </li>
          <%}%>
        </ul>
      </div>
      <%- include('foot'); -%>
